<div>
    <h2 data-translate="smartmeterApp.vibrationProMessage.home.title">Vibration Pro Messages</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="vibration-pro-message.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="smartmeterApp.vibrationProMessage.home.createLabel">
                        Create new Vibration Pro Message
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="batteryValue"><span data-translate="smartmeterApp.vibrationProMessage.batteryValue">Battery Value</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="xAxisValue"><span data-translate="smartmeterApp.vibrationProMessage.xAxisValue">X Axis Value</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="yAxisValue"><span data-translate="smartmeterApp.vibrationProMessage.yAxisValue">Y Axis Value</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="zAxisValue"><span data-translate="smartmeterApp.vibrationProMessage.zAxisValue">Z Axis Value</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="temperature"><span data-translate="smartmeterApp.vibrationProMessage.temperature">Temperature</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="loraMessage.id"><span data-translate="smartmeterApp.vibrationProMessage.loraMessage">Lora Message</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="vibrationProMessage in vm.vibrationProMessages track by vibrationProMessage.id">
                    <td><a ui-sref="vibration-pro-message-detail({id:vibrationProMessage.id})">{{vibrationProMessage.id}}</a></td>
                    <td>{{vibrationProMessage.batteryValue}}</td>
                    <td>{{vibrationProMessage.xAxisValue}}</td>
                    <td>{{vibrationProMessage.yAxisValue}}</td>
                    <td>{{vibrationProMessage.zAxisValue}}</td>
                    <td>{{vibrationProMessage.temperature}}</td>
                    <td>
                        <a ui-sref="lorawan-message-detail({id:vibrationProMessage.loraMessage.id})">{{vibrationProMessage.loraMessage.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="vibration-pro-message-detail({id:vibrationProMessage.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="vibration-pro-message.edit({id:vibrationProMessage.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="vibration-pro-message.delete({id:vibrationProMessage.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
