<div>
    <h2 data-translate="smartmeterApp.m2mMessage.home.title">M 2 M Messages</h2>
    <jhi-alert></jhi-alert>
    
    <!-- Arama Bölümü -->
    <div class="row mb-3">
        <div class="col-md-5">
            <div class="form-group">
                <label for="sensorSelect">Sayaç Seçiniz</label>
                <select class="form-control" id="sensorSelect" ng-model="vm.selectedSensor">
                    <option value="">Tüm Sayaçlar</option>
                    <option ng-repeat="sensor in vm.sensors track by sensor.id" value="{{sensor.id}}">
                        {{sensor.meter.meterNo}}-{{sensor.devEui}}
                    </option>
                </select>
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <label for="timeRange">Zaman Aralığı</label>
                <select class="form-control" id="timeRange" ng-model="vm.selectedTimeRange">
                    <option value="24">Son 24 Saat</option>
                    <option value="168">Son 1 Hafta</option>
                    <option value="720">Son 1 Ay</option>
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>&nbsp;</label>
                <button class="btn btn-primary form-control" ng-click="vm.filterMessages()" ng-disabled="vm.loading">
                    <span class="glyphicon" ng-class="{'glyphicon-search': !vm.loading, 'glyphicon-refresh spinning': vm.loading}"></span>
                    <span>{{vm.loading ? 'Yükleniyor...' : 'Ara'}}</span>
                </button>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="m-2-m-message.new">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span data-translate="smartmeterApp.m2mMessage.home.createLabel">
                        Create new M 2 M Message
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    
    <!-- Yükleme göstergesi -->
    <div ng-if="vm.loading" class="text-center">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Yükleniyor...</span>
        </div>
    </div>

    <!-- Veri yoksa gösterilecek mesaj -->
    <div ng-if="!vm.loading && (!vm.m2mMessages || vm.m2mMessages.length === 0)" class="alert alert-info">
        Veri bulunamadı
    </div>

    <!-- Veri tablosu -->
    <div class="table-responsive" ng-if="!vm.loading && vm.m2mMessages && vm.m2mMessages.length > 0">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="insertDate"><span data-translate="smartmeterApp.m2mMessage.insertDate">Insert Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="image"><span data-translate="smartmeterApp.m2mMessage.image">Image</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="batteryValue"><span data-translate="smartmeterApp.m2mMessage.batteryValue">Battery Value</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="sensorValue"><span data-translate="smartmeterApp.m2mMessage.sensorValue">Sensor Value</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="sensor.id"><span data-translate="smartmeterApp.m2mMessage.sensor">Sensor</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="m2mMessage in vm.m2mMessages track by m2mMessage.id">
                    <td><a ui-sref="m-2-m-message-detail({id:m2mMessage.id})">{{m2mMessage.id}}</a></td>
                    <td>{{m2mMessage.insertDate | date:'medium'}}</td>
                    <td>
                        <a ng-if="m2mMessage.image" ng-click="vm.openFile(m2mMessage.imageContentType, m2mMessage.image)">
                            <img data-ng-src="{{'data:' + m2mMessage.imageContentType + ';base64,' + m2mMessage.image}}" 
                                 style="max-height: 75px;" 
                                 alt="m2mMessage image"
                                 onerror="this.onerror=null; this.src='assets/images/loading.gif';"/>
                        </a>
                    </td>
                    <td>{{m2mMessage.batteryValue}}</td>
                    <td><!-- {{m2mMessage.sensorValue}} --></td>
                    <td>
                        <a ui-sref="sensor-detail({id:m2mMessage.sensor.id})">{{m2mMessage.sensor.meter.meterNo}}-{{m2mMessage.sensor.devEui}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="m-2-m-message-detail({id:m2mMessage.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="m-2-m-message.delete({id:m2mMessage.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count 
            page="vm.page" 
            total="vm.queryCount" 
            items-per-page="vm.itemsPerPage">
        </jhi-item-count>
        <uib-pagination 
            class="pagination-sm" 
            total-items="vm.totalItems" 
            items-per-page="vm.itemsPerPage" 
            ng-model="vm.page" 
            ng-change="vm.transition()">
        </uib-pagination>
    </div>
</div>

<style>
.spinning {
    animation: spin 1s infinite linear;
    display: inline-block;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.spinner-border {
    width: 3rem;
    height: 3rem;
}
</style>
