
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCurrentMeterMessageLabel" data-translate="smartmeterApp.currentMeterMessage.home.createOrEditLabel">Create or edit a Current Meter Message</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.currentMeterMessage.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.currentMeterMessage.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartmeterApp.currentMeterMessage.batteryValue" for="field_batteryValue">Battery Value</label>
            <input type="number" class="form-control" name="batteryValue" id="field_batteryValue"
                    ng-model="vm.currentMeterMessage.batteryValue"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartmeterApp.currentMeterMessage.current" for="field_current">Current</label>
            <input type="number" class="form-control" name="current" id="field_current"
                    ng-model="vm.currentMeterMessage.current"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartmeterApp.currentMeterMessage.totalEnergy" for="field_totalEnergy">Total Energy</label>
            <input type="number" class="form-control" name="totalEnergy" id="field_totalEnergy"
                    ng-model="vm.currentMeterMessage.totalEnergy"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartmeterApp.currentMeterMessage.reason" for="field_reason">Reason</label>
            <input type="text" class="form-control" name="reason" id="field_reason"
                    ng-model="vm.currentMeterMessage.reason"
                    />
        </div>

        <div class="form-group">
            <label data-translate="smartmeterApp.currentMeterMessage.loraMessage" for="field_loraMessage">Lora Message</label>
            <select class="form-control" id="field_loraMessage" name="loraMessage" ng-model="vm.currentMeterMessage.loraMessage" ng-options="lorawanMessage as lorawanMessage.id for lorawanMessage in vm.lorawanmessages track by lorawanMessage.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
