<div>
    <h2 data-translate="smartmeterApp.currentMeterMessage.home.title">Current Meter Messages</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="current-meter-message.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="smartmeterApp.currentMeterMessage.home.createLabel">
                        Create new Current Meter Message
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>

    <!-- Arama Paneli -->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Arama</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="sensor" data-translate="smartmeterApp.currentMeterMessage.sensor">Sensor</label>
                                <select class="form-control" id="sensor" ng-model="vm.selectedSensor">
                                    <option value="">Tümü</option>
                                    <option ng-repeat="sensor in vm.sensors" value="{{sensor.id}}">{{sensor.devEui}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="dateFilter" data-translate="smartmeterApp.currentMeterMessage.dateFilter">Tarih Filtresi</label>
                                <select class="form-control" id="dateFilter" ng-model="vm.selectedDateFilter">
                                    <option ng-repeat="filter in vm.dateFilters" value="{{filter.id}}">{{filter.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>&nbsp;</label>
                                <button class="btn btn-primary form-control" ng-click="vm.search()">
                                    <span class="glyphicon glyphicon-search"></span>
                                    <span data-translate="smartmeterApp.currentMeterMessage.search">Ara</span>
                                </button>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="batteryValue"><span data-translate="smartmeterApp.currentMeterMessage.batteryValue">Battery Value</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="current"><span data-translate="smartmeterApp.currentMeterMessage.current">Current</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="totalEnergy"><span data-translate="smartmeterApp.currentMeterMessage.totalEnergy">Total Energy</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="reason"><span data-translate="smartmeterApp.currentMeterMessage.reason">Reason</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="loraMessage.id"><span data-translate="smartmeterApp.currentMeterMessage.loraMessage">Lora Message</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="currentMeterMessage in vm.currentMeterMessages track by currentMeterMessage.id">
                    <td><a ui-sref="current-meter-message-detail({id:currentMeterMessage.id})">{{currentMeterMessage.id}}</a></td>
                    <td>{{currentMeterMessage.batteryValue}}</td>
                    <td>{{currentMeterMessage.current}}</td>
                    <td>{{currentMeterMessage.totalEnergy}}</td>
                    <td>{{currentMeterMessage.reason}}</td>
                    <td>
                        <a ui-sref="lorawan-message-detail({id:currentMeterMessage.loraMessage.id})">{{currentMeterMessage.loraMessage.insertDate | date:'medium'}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="current-meter-message-detail({id:currentMeterMessage.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="current-meter-message.delete({id:currentMeterMessage.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Grafik Modal -->
    <div class="modal fade" id="graphModal" tabindex="-1" role="dialog" aria-labelledby="graphModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="graphModalLabel" data-translate="smartmeterApp.currentMeterMessage.graphTitle">Akım ve Enerji Grafiği</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <canvas id="currentMeterGraph"></canvas>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" data-translate="smartmeterApp.currentMeterMessage.close">Kapat</button>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
