
<div>
    <h2><span data-translate="smartmeterApp.lorawanMessage.detail.title">Lorawan Message</span> {{vm.lorawanMessage.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="smartmeterApp.lorawanMessage.base64Message">Base 64 Message</span></dt>
        <dd>
            <span>{{vm.lorawanMessage.base64Message}}</span>
        </dd>
        <dt><span data-translate="smartmeterApp.lorawanMessage.hexMessage">Hex Message</span></dt>
        <dd>
            <span>{{vm.lorawanMessage.hexMessage}}</span>
        </dd>
<!--         <dt><span data-translate="smartmeterApp.lorawanMessage.index">Index</span></dt> -->
<!--         <dd> -->
<!--             <span>{{vm.lorawanMessage.index}}</span> -->
<!--         </dd> -->
<!--         <dt><span data-translate="smartmeterApp.lorawanMessage.totalMessageCount">Total Message Count</span></dt> -->
<!--         <dd> -->
<!--             <span>{{vm.lorawanMessage.totalMessageCount}}</span> -->
<!--         </dd> -->
        <dt><span data-translate="smartmeterApp.lorawanMessage.insertDate">Insert Date</span></dt>
        <dd>
            <span>{{vm.lorawanMessage.insertDate | date:'medium'}}</span>
        </dd>
<!--         <dt><span data-translate="smartmeterApp.lorawanMessage.image">Image</span></dt> -->
<!--         <dd> -->
<!--             <div ng-if="vm.lorawanMessage.image"> -->
<!--                 <a ng-click="vm.openFile(vm.lorawanMessage.imageContentType, vm.lorawanMessage.image)"> -->
<!--                     <img data-ng-src="{{'data:' + vm.lorawanMessage.imageContentType + ';base64,' + vm.lorawanMessage.image}}"   -->
<!--                      alt="lorawanMessage image"/> -->
<!--                 </a>  -->
<!--                 {{vm.lorawanMessage.imageContentType}}, {{vm.byteSize(vm.lorawanMessage.image)}} -->
<!--             </div> -->
<!--         </dd> -->
<!--         <dt><span data-translate="smartmeterApp.lorawanMessage.batteryValue">Battery Value</span></dt> -->
<!--         <dd> -->
<!--             <span>{{vm.lorawanMessage.batteryValue}}</span> -->
<!--         </dd> -->
<!--         <dt><span data-translate="smartmeterApp.lorawanMessage.sensorValue">Sensor Value</span></dt> -->
<!--         <dd> -->
<!--             <span>{{vm.lorawanMessage.sensorValue}}</span> -->
<!--         </dd> -->
        <dt><span data-translate="smartmeterApp.lorawanMessage.fPort">F Port</span></dt>
        <dd>
            <span>{{vm.lorawanMessage.fPort}}</span>
        </dd>
        <dt><span data-translate="smartmeterApp.lorawanMessage.fCnt">F Cnt</span></dt>
        <dd>
            <span>{{vm.lorawanMessage.fCnt}}</span>
        </dd>
<!--         <dt><span data-translate="smartmeterApp.lorawanMessage.imageId">Image Id</span></dt> -->
<!--         <dd> -->
<!--             <span>{{vm.lorawanMessage.imageId}}</span> -->
<!--         </dd> -->
        <dt><span data-translate="smartmeterApp.lorawanMessage.sensor">Sensor</span></dt>
        <dd>
            <a ui-sref="sensor-detail({id:vm.lorawanMessage.sensor.id})">{{vm.lorawanMessage.sensor.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="lorawan-message-detail.edit({id:vm.lorawanMessage.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
