
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myLorawanMessageLabel" data-translate="smartmeterApp.lorawanMessage.home.createOrEditLabel">Create or edit a Lorawan Message</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.lorawanMessage.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.lorawanMessage.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartmeterApp.lorawanMessage.base64Message" for="field_base64Message">Base 64 Message</label>
            <input type="text" class="form-control" name="base64Message" id="field_base64Message"
                    ng-model="vm.lorawanMessage.base64Message"
                    ng-maxlength="4000"/>
            <div ng-show="editForm.base64Message.$invalid">
                <p class="help-block"
                    ng-show="editForm.base64Message.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="4000">
                    This field cannot be longer than 4000 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartmeterApp.lorawanMessage.hexMessage" for="field_hexMessage">Hex Message</label>
            <input type="text" class="form-control" name="hexMessage" id="field_hexMessage"
                    ng-model="vm.lorawanMessage.hexMessage"
                    ng-maxlength="4000"/>
            <div ng-show="editForm.hexMessage.$invalid">
                <p class="help-block"
                    ng-show="editForm.hexMessage.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="4000">
                    This field cannot be longer than 4000 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartmeterApp.lorawanMessage.index" for="field_index">Index</label>
            <input type="number" class="form-control" name="index" id="field_index"
                    ng-model="vm.lorawanMessage.index"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartmeterApp.lorawanMessage.totalMessageCount" for="field_totalMessageCount">Total Message Count</label>
            <input type="number" class="form-control" name="totalMessageCount" id="field_totalMessageCount"
                    ng-model="vm.lorawanMessage.totalMessageCount"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartmeterApp.lorawanMessage.insertDate" for="field_insertDate">Insert Date</label>
                <div class="input-group">
                    <input id="field_insertDate" type="text" class="form-control" name="insertDate" datetime-picker="{{dateformat}}" ng-model="vm.lorawanMessage.insertDate" is-open="vm.datePickerOpenStatus.insertDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('insertDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setImage($file, vm.lorawanMessage)" ngf-pattern="'image/*'">
            <label class="control-label" data-translate="smartmeterApp.lorawanMessage.image" for="field_image">Image</label>
            <div>
                <img data-ng-src="{{'data:' + vm.lorawanMessage.imageContentType + ';base64,' + vm.lorawanMessage.image}}" style="max-height: 100px;" ng-if="vm.lorawanMessage.image" alt="lorawanMessage image"/>
                <div ng-if="vm.lorawanMessage.image" class="help-block clearfix">
                    <span class="pull-left">{{vm.lorawanMessage.imageContentType}}, {{vm.byteSize(vm.lorawanMessage.image)}}</span>
                    <button type="button" ng-click="vm.lorawanMessage.image=null;vm.lorawanMessage.imageContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setImage($file, vm.lorawanMessage)" accept="image/*" data-translate="entity.action.addimage">
                    Add image
                </button>
            </div>
            <input type="hidden" class="form-control" name="image" id="field_image"
                    ng-model="vm.lorawanMessage.image"
                    />
            <input type="hidden" class="form-control" name="imageContentType" id="field_imageContentType"
                    ng-model="vm.lorawanMessage.imageContentType" />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartmeterApp.lorawanMessage.batteryValue" for="field_batteryValue">Battery Value</label>
            <input type="number" class="form-control" name="batteryValue" id="field_batteryValue"
                    ng-model="vm.lorawanMessage.batteryValue"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartmeterApp.lorawanMessage.sensorValue" for="field_sensorValue">Sensor Value</label>
            <input type="number" class="form-control" name="sensorValue" id="field_sensorValue"
                    ng-model="vm.lorawanMessage.sensorValue"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartmeterApp.lorawanMessage.fPort" for="field_fPort">F Port</label>
            <input type="text" class="form-control" name="fPort" id="field_fPort"
                    ng-model="vm.lorawanMessage.fPort"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartmeterApp.lorawanMessage.imageId" for="field_imageId">Image Id</label>
            <input type="text" class="form-control" name="imageId" id="field_imageId"
                    ng-model="vm.lorawanMessage.imageId"
                    />
        </div>

        <div class="form-group">
            <label data-translate="smartmeterApp.lorawanMessage.sensor" for="field_sensor">Sensor</label>
            <select class="form-control" id="field_sensor" name="sensor" ng-model="vm.lorawanMessage.sensor" ng-options="sensor as sensor.id for sensor in vm.sensors track by sensor.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
